.mathjax {
  border: 2px solid #bbbbbb;
  margin: 2px;
  display: inline-block;
  line-height: 0;
}

.mathjax .media {
}

.mathjax .media iframe {
  position: inherit;
}

.mathjax .character {
  /* Do not use display: none, or you'll break backspace for some reason! */
  font-size: 0;
  opacity: 0;
}

