.mathjax {
  margin: 2px;
  display: inline-block;
  line-height: 0;
  background-color:#fff !important;
  padding:2px;
}

.mathjax .media {
}

.mathjax .media iframe {
  position: inherit;
}

.mathjaxcontainer .character {
  /* Do not use display: none, or you'll break backspace for some reason! */
  font-size: 0;
  opacity: 0;
}

