.buttonicon-embed-mathjax{
  text-transform: none;
  font-weight:800;
  font-size:22px !important;
  font-family:monospace;
  margin-top:-3px;
}

#mathjaxSrc {
  width: 100%;
  margin: 10px 0;
}
.ep_mathjax-popup {
  left: 30px;
}
