#mathjaxModal {
  position: absolute;
  top: 55px;
  right: 20px;
  display: none;
  z-index:999999;
}

.buttonicon-mathjax { background: url(/static/plugins/ep_mathjax/static/html/editbar_icon.png) !important; }

.mathjaxButton {
  padding:10px;
}

#cancelmathjax{
  color:red;
} 


