<li data-type="button" data-key="mathjax" class="ep_mathjax acl-write">
  <a class="grouped-middle ep_mathjax">
    <button class="buttonicon buttonicon-embed-mathjax ep_mathjax"
            aria-label="Insert MathJax formula"
            data-l10n-id="ep_mathjax.toolbar.title"
            data-l10n-attr="aria-label"
            title="Insert MathJax formula">π</button>
  </a>
</li>
