<li data-type="button" data-key="mathjax" class="ep_mathjax acl-write">
  <a class="grouped-middle ep_mathjax buttonicon buttonicon-embed-mathjax"
     role="button" tabindex="0"
     data-l10n-id="ep_mathjax.toolbar.title"
     title="Insert MathJax formula">π</a>
</li>
