<li data-type="button" data-key="mathjax" class="ep_mathjax acl-write">
  <a class="grouped-middle ep_mathjax" title="Embed Mathjax" aria-label="Embed Mathjax">
    <button class="buttonicon buttonicon-embed-mathjax ep_mathjax" title="mathjax " aria-label="Embed mathjax">π</button>
  </a>
</li>
