<div id="mathjaxModal" class="popup">
    <% e.begin_block("mathjaxPopup"); %>
        <h1>Insert MathJax in this pad</h1>
        <p>Paste some Mathjax here IE: "<mi>a</mi><mo>&#x2260;</mo><mn>0</mn>":</p>
        <textarea id="mathjaxSrc" rows="10" cols="60"></textarea>
        <div>
            <input type="button" class="mathjaxButton" id="domathjax" value="Insert media">
            <input type="button" class="mathjaxButton" id="cancelmathjax" value="Cancel">
        </div>
    <% e.end_block(); %>
</div>
